<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<div class="global">
  <div class="container">

    <div class="mainProfile col-md-3 nopadding">

      <div class="head">

      </div>

      <div class="main">
        <ul class="list-inline">
          <li class="">
            <a class="" title="173 Tweets" href="/seruy1993" data-element-term="tweet_stats">
              <span class="">Tweets</span>
              <span class="" data-is-compact="false">173</span>
            </a>
          </li>
          <li class="">
            <a class="" title="5 Following" href="/following" data-element-term="follower_stats">
              <span class="">Following</span>
              <span class="" data-is-compact="false">5</span>
            </a>
          </li>
          <li class="">
            <a class="" title="8 Followers" href="/followers" data-element-term="following_stats">
              <span class="DashboardProfileCard-statLabel u-block">Followers</span>
              <span class="DashboardProfileCard-statValue" data-is-compact="false">8</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="newTweet">
        <%= form_tag 'addTweet', :class => 'form-signin form-horizontal' do %>
            <div class="form-group">
              <div class="col-md-12">
                <%= text_area :tweet, params[:tweet], class: 'form-control', rows: '1', id: 'taForTweet' %>
              </div>
            </div>
            <%= submit_tag 'addTweet', class: 'btn btn-primary col-sm-offset-4' %>
        <% end %>
      </div>
    </div>


    <div class="mainTweets col-md-6">
      <div class="tweetsHead col-md-12">
        <h2>Tweets</h2>
      </div>

      <div class="content col-md-12">
        <% @tweets.each do |tweet| %>
            <div class="tweet"><%= tweet.tweet %>
              <span>(<%= tweet.user.fullname %>)</span>
              <%= hidden_field_tag :user_id, tweet.user_id %>
              <% if @current_user.id == tweet.user_id %>
                  <a class="del" style="float: right" id=<%= tweet.id %>>del</a>
              <% end %>
            </div>
        <% end %>
      </div>


    </div>

    <div class="follow col-md-3">
      <h3>Who to follow</h3>
      <%= hidden_field_tag :current_user_id, current_user.id %>
      <div class="col-md-12 content">
        <% if @following_user.exists?(:user_id => current_user.id, :follow_id => 9) %>
            <button class="btn btn-danger" id="9">
              <span class="visuallyhidden">Petr Unfollow</span>
            </button>
        <% else %>
            <button class="btn btn-primary" id="9">
              <span class="visuallyhidden">Petr Following</span>
            </button>
        <% end %>

      </div>

      <div class="col-md-12 content">
        <% if @following_user.exists?(:user_id => current_user.id, :follow_id => 6) %>
            <button class="btn btn-danger" id="6">
              <span class="visuallyhidden">Sergey Unfollow</span>
            </button>
        <% else %>
            <button class="btn btn-primary" id="6">
              <span class="visuallyhidden">Sergey Following</span>
            </button>
        <% end %>
      </div>
      <div class="col-md-12 content">
        <% if @following_user.exists?(:user_id => current_user.id, :follow_id => 8) %>
            <button class="btn btn-danger" id="8">
              <span class="visuallyhidden">Test Unfollow</span>
            </button>
        <% else %>
            <button class="btn btn-primary" id="8">
              <span class="visuallyhidden">Test Following</span>
            </button>
        <% end %>
      </div>
    </div>

  </div>
</div>

</body>
</html>