<div class="global">

  <div class="container-full">

    <div class="profile">
      <div class="row head">
        <div class="avatar">
          <a href="/Test">
            <img src="/img/avatar.jpg">
          </a>
        </div>
      </div>

      <div class="row appContainer">
        <div class="col-md-4 col-md-offset-4">
          <ul class="list-inline">
            <li class="">
              <a class="nav" title="171 Tweets">
                <span class="label">Tweets</span>
                <span class="value">171</span>
              </a>
            </li>
            <li class="">
              <a class="nav" title="5 Following" data-nav="following" href="/following">
                <span class="label">Following</span>
                <span class="value">5</span>
              </a>
            </li>
            <li class="">
              <a class="nav" title="8 Followers" href="/followers">
                <span class="label">Followers</span>
                <span class="value">8</span>
              </a>
            </li>
            <li class="">
              <a class="nav" title="1 Favorite"
                 href="/favorites">
                <span class="label">Favorites</span>
                <span class="value">1</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="col-md-1">
          <%= hidden_field_tag :current_user_id, current_user.id %>

          <% if current_user.id == @user.id %>
              <button class="btn btn-default btn-edit">
                <span> Edit profile</span>
              </button>
          <% else %>
              <% if @following_user.exists?(:user_id => current_user.id, :follow_id => @user.id) %>
                  <button class="btn btn-danger btn-follow" id="<%= @user.id %>">
                    <span class="visuallyhidden">Unfollow</span>
                  </button>
              <% else %>
                  <button class="btn btn-info btn-follow" id="<%= @user.id %>">
                    <span class="visuallyhidden">Follow</span>
                  </button>
              <% end %>

          <% end %>

        </div>

      </div>

      <div class="row tweets">

        <div class="mainTweets col-md-7 col-md-offset-4 top">
          <div class="col-md-2 info_about_choice_user">
            <div class="headU">
              <h1><%= @user.fullname %></h1>

              <h2 class="">
                <a href="/Mr_ValarkasS">@
                  <span class="nickname">Mr_ValarkasS</span>
                </a>
                <span class="follow_status">follows you</span>
              </h2>
              <img class="icon_clock" src="/img/clock.png">
              <span class="">Joined May 2011</span>
            </div>
          </div>
          <div class="tweetsHead col-md-7">
            <h2>Tweets</h2>
          </div>
          <div class="content col-md-7">
            <% @tweets.each do |tweet| %>
                <a class="" href="/Mr_ValarkasS">
                  <img class="img_tweet" src="/img/default_profile.png">
                  <span class="">
                    <b class="fullname"><%= tweet.user.fullname %></b>
                  </span>
                </a>
                <span class="nickname">
                    <span class="at">@</span>Mr_ValarkasS
                </span>
                <div class="tweet">
                  <%= tweet.tweet %>
                  <%= hidden_field_tag :user_id, tweet.user_id %>
                  <% if @current_user.id == tweet.user_id %>
                      <a class="del" style="float: right" id=<%= tweet.id %>>del</a>
                  <% end %>
                  <div class="tweet_panel">
                    <img class="reply" src="/img/reply.png">
                    <img class="retweet" src="/img/retweet.png">
                    <img class="star" src="/img/star.png">
                    <img class="points" src="/img/points.png">

                  </div>

                </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>