<div class="global_profile">

  <div class="container-full">

    <div class="profile">
      <div class="row head">
      </div>
      <div class="row appContainer">
        <div class="container">
          <ul class="list-inline profileNav">
            <li>
              <a class="nav" title="<%= pluralize(@tweets.length, 'Tweet') %>">
                <span class="label">Tweets</span>
                <span class="value"><%= @tweets.length %></span>
              </a>
            </li>
            <li>
              <a class="nav" title="<%= pluralize(@following_user.length, 'Following') %>" data-nav="following" href="/following">
                <span class="label">Following</span>
                <span class="value"><%= @following_user.length %></span>
              </a>
            </li>
            <li>
              <a class="nav" title="<%= pluralize(@followers_user.length, 'Follower') %>" href="/followers">
                <span class="label">Followers</span>
                <span class="value"><%= @followers_user.length %></span>
              </a>
            </li>
          </ul>

          <div class="col-md-1">
            <%= hidden_field_tag :current_user_id, current_user.id %>

            <% if current_user.id == @user.id %>
                <a href="users/edit">
                  <button class="btn btn-default btn-edit">
                    <span> Edit profile</span>
                  </button>
                </a>
            <% else %>
                <% if @following_user.exists?(:user_id => current_user.id, :follow_id => @user.id) %>
                    <button class="btn btn-danger btn-follow" id="<%= @user.id %>">
                      <span class="visuallyhidden">Unfollow</span>
                    </button>
                <% else %>
                    <button class="btn btn-info btn-follow" id="<%= @user.id %>">
                      <span class="visuallyhidden">Follow</span>
                    </button>
                <% end %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row tweets">
          <div class="avatar">
            <a href="/Test">
              <%= image_tag @user.avatar.url(:medium) %>
            </a>
          </div>
          <div class="mainTweets col-md-7 col-md-offset-3 top">
            <div class="col-md-4 info_about_choice_user">
              <div class="headU">
                <h1><%= @user.fullname %></h1>

                <h2 class="">
                  <a href="/<%= @user.fullname %>">@
                    <span class="nickname"><%= @user.fullname %></span>
                  </a>
                  <span class="follow_status">
                  <% if @followers_user.exists?(:user_id => @user.id, :follow_id => current_user.id) %>
                    follows you
                  <% end %>
                  </span>
                </h2>
                <img class="icon_clock" src="/img/clock.png">
                <span class="">Joined May 2011</span>
              </div>
            </div>
            <div class="tweetsHead col-md-10">
              <h2>Tweets</h2>
            </div>
            <div class="content col-md-10">
              <% @tweets.each do |tweet| %>
                  <a class="" href="/<%= tweet.user.fullname %>">
                    <%= image_tag @user.avatar.url(:thumb), class: 'img_tweet' %>
                    <span class="">
                    <b class="fullname"><%= tweet.user.fullname %></b>
                  </span>
                  </a>
                <span class="nickname">
                    <span class="at">@</span><%= tweet.user.fullname %>
                </span>

                  <div class="tweet">
                    <%= tweet.tweet %>
                    <%= hidden_field_tag :user_id, tweet.user_id %>

                    <div class="tweet_panel">

                      <img class="reply" src="/img/reply.png">
                      <img class="retweet" src="/img/retweet.png">
                      <img class="star" src="/img/star.png">

                    <span class="dropdown">
                        <img class="points" data-toggle="dropdown" src="/img/points.png">
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li><a>Embed Tweet</a></li>
                        <% if @current_user.id == tweet.user_id %>
                            <li><a class="del" id=<%= tweet.id %>>Delete tweet</a></li>
                        <% end %>
                      </ul>
                    </span>
                    </div>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
