<!DOCTYPE html>
<html>
<head>
  <title>TwiterCom</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top shadow">
  <div class="container">
    <% if user_signed_in? %>

        <div class="left" role="navigation">
          <ul class="list-inline">
            <li>
              <a href="/home" data-no-turbolink>
                <div class="icon icon_home">
                  <div class="icon_text">Home</div>
                </div>
              </a>
            </li>
            <li class="people notifications">
              <a>
                <div class="icon icon_notifications">
                  <div class="icon_text">Notification</div>
                </div>
              </a>
            </li>
            <li class="topics">
              <a>
                <div class="icon icon_discover">
                  <div class="icon_text">Discover</div>
                </div>
              </a>
            </li>
            <li class="profile" data-global-action="profile">
              <a href="/<%=current_user.fullname %>" data-no-turbolink>
                <div class="icon icon_profile">
                  <div class="icon_text">Me</div>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <span class="icon iconBird"></span>

        <form class="search" action="/search" id="global-nav-search">
          <input type="text" id="search-query" placeholder="Search Tweeter"
                 name="q" autocomplete="off" spellcheck="false">

          <div class="search-icon" onclick="$('#global-nav-search').submit();"></div>
        </form>

        <ul class="list-inline">
          <li>
            <span class="icon icon_message" data-toggle="tooltip" data-placement="bottom" title="Личное сообщения"></span>
          </li>
          <li>
            <div class="dropdown">
              <a class="icon icon_setting" id="dropdownMenu1" data-toggle="dropdown">
              </a>
              <ul class="dropdown-menu" style="margin-top: 50px" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Lists</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Help</a></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Keyboard shortcuts</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>
                <li><%= link_to 'Log out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </div>
          </li>

        </ul>

        <!--<%= link_to 'Log Out', destroy_user_session_path, :method => :delete %>-->
        <!--<%= (current_user.email if current_user) || ' ' %>-->
    <% else %>
        <div class="navbar-header">
          <img class="icon_bird" src="img/iconBird.png">
        </div>
        <div class="dropdown right language">
          <a data-toggle="dropdown" href="#">
            <small>Language:</small>
            English <b class="caret"></b></a>

          <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dLabel">
            <%  countries = %w{ Indonesian Malay Czech Danish German  }  %>

            <% countries.each do |country| %>
                <li><a href="?lang=id" data-lang-code="id" title="<%= country %>" class="js-language-link js-tooltip">
                  <%= country %>
                </a></li>
            <% end %>
            <li><a href="?lang=tr" data-lang-code="tr" title="Turkish" class="js-language-link js-tooltip">Türkçe</a>
            </li>
            <li><a href="?lang=ru" data-lang-code="ru" title="Russian" class="js-language-link js-tooltip">Русский</a>
            </li>
            <li><a href="?lang=uk" data-lang-code="uk" title="Ukrainian" class="js-language-link js-tooltip">Українська
              мова</a></li>
          </ul>
        </div>
    <% end %>
  </div>
</div>

<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<%= yield %>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>

</body>
</html>
